<div class="profile_box"> 

 <div class="h1"><h1>Browse Services</h1>

 </div>

  <div class="container_main">

    <div class="user">
      <ol>
        <% @users.each do |user| %>
        <div class="person">
          <li>
            <div><%= image_tag user.avatar.url(:thumb) %>
            <%= link_to user.fname, user %></div>
            <p><%= user.offering %></p>
            <p><%= user.location %></p>
          </li>
         </div> 
        <% end %>
      </ol>
    </div>
  </div>
</div> 
 <div class="search_box">
  <%= form_tag users_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "input_boxes"%>
        <%= submit_tag "Search", :name => nil, class: "submitBtn" %>
      </p>
      <% end %>
</div>

