<div class="profile_box">

	<div class="h1"><h1>Profile Page</h1></div>

		<div class="pic"><%= image_tag @user.avatar.url(:medium) %></div>

		<div class="together">

			<div class="username"><%= @user.username %></div>	

			<div class="profile">

				<h3><%=link_to @user.email %></h3>

				<% if @user.resume %>
				<h3><%= link_to @user.resume %></h3>
				<%else%>
				<%= "no resume available" %>  
				<% end %>


				<p><strong>First Name: </strong><%= @user.fname %></p>
				<p><strong>Last Name: </strong><%= @user.lname %></p>
				<p><strong>Location: </strong><%= @user.location %></p>
				<p><strong>Description: </strong><%= @user.description %></p>
				<p><strong>Service: </strong><%= @user.offering %></p><br />

			</div>
		</div>

				<!-- <div class="map"> -->
  					<div id="map" style='width: 320px; height: 280px;'></div>
				<!-- </div> -->
		</div>

	</div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
