
<div class ="log_in_box">

    <div class ="log_in">
        <br /><h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div><%= f.label :email %><br /></br>
        <%= f.email_field :email, autofocus: true, class: "input_boxes" %></div><br />

        <div><%= f.label :password %><br /><br />
        <%= f.password_field :password, autocomplete: "off", class: "input_boxes" %></div>


      <% if devise_mapping.rememberable? %>
        <div id="remember_me_box"><%= f.check_box :remember_me, class: "check_box" %>
         <%= f.label :remember_me %></div><br />
         <div id="log_in_box"><%= f.submit "Log in", class: "login_button" %></div>
      <% end %><br />



      <% render "devise/shared/links" %>
    </div>

        <div  id="sign_up_box">
        <%= link_to "SIGN UP !", new_user_registration_path, class: "sign_up_button" %>
        </div>
    
  </div>
<% end %>
